@font-face {
  font-family: "Scorpion Regular";
  src: url("../fonts/Scorpion.eot?") format("eot"), url("../fonts/Scorpion.woff") format("woff"), url("../fonts/Scorpion.ttf") format("truetype"), url("../fonts/Scorpion.svg#Scorpion") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  background-color: #2b373f;
  color: white;
  font-family: 'Open Sans', sans-serif;
  color: #b8b8b8;
  margin-top: 0px;
  margin-bottom: 0px; }

a {
  text-decoration: none;
  color: white;
  outline: none !important; }

.border-line {
  width: 100%;
  height: 3px;
  background-color: #af834d;
  max-width: 940px;
  margin: auto;
  margin-bottom: 20px; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f282f;
  border: solid 1px #af834d;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  height: 49.9px; }

.btn:hover {
  text-decoration: none !important;
  opacity: .8; }

.btn:focus {
  text-decoration: none !important; }

.btn-lk {
  width: 139.5px;
  position: absolute;
  bottom: 60px;
  right: 102px; }

.btn-document {
  width: 190.8px; }

.btn-invite {
  width: 170.4px;
  text-align: center; }

.main-block {
  margin: auto;
  max-width: 940px;
  width: 100%;
  flex-wrap: wrap; }

.main-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  color: #af834d; }

.nav-block {
  display: flex;
  align-items: center;
  font-size: 14px; }
  .nav-block .main-link {
    text-decoration: underline;
    color: #af834d; }
  .nav-block a:hover {
    text-decoration: underline; }
  .nav-block a:focus {
    text-decoration: underline;
    color: #af834d; }
  .nav-block:hover {
    text-decoration: none; }

nav.main-block {
  display: flex;
  justify-content: space-between;
  padding: 22px 0px; }
  nav.main-block img {
    margin-right: 18px; }
  nav.main-block .logo {
    font-family: "Scorpion Regular";
    font-size: 18px;
    color: #af834d; }

header.main-block {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between; }
  header.main-block .big-coin {
    margin-right: 30px; }
  header.main-block .main-header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 40px; }
    header.main-block .main-header .title {
      color: #af834d;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 19px; }
    header.main-block .main-header .text {
      color: #b8b8b8;
      max-width: 670px;
      font-size: 18px; }

section.main-block {
  background-color: #1f282f;
  margin-bottom: 20px;
  padding-top: 16px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 24px;
  border: solid 3px #af834d;
  border-radius: 3px; }

.one-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  max-width: 170px; }
  .one-person .description {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 6px; }
  .one-person .name {
    text-align: center;
    color: #fff; }
  .one-person .job {
    text-align: center;
    color: #af834d;
    margin-top: 2px;
    margin-bottom: 2px; }
  .one-person .soc img:first-child {
    margin-right: 12px; }
  .one-person .photo {
    width: 164.5px;
    height: 165.3px;
    border-radius: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    border: solid 3px #af834d; }
    .one-person .photo img {
      width: 100%; }

#team {
  width: calc(100% - 8px); }
  #team .main-title {
    margin-bottom: 22px; }

.main-block.paper {
  flex-direction: column;
  align-items: center; }
  .main-block.paper .main-title {
    margin-bottom: 12px; }
  .main-block.paper .text-paper {
    text-align: center;
    max-width: 420px; }
  .main-block.paper .post-title {
    font-size: 14px;
    text-align: center;
    margin-bottom: 23px; }
  .main-block.paper .text-paper {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 21px; }

.main-block.road {
  color: #fff;
  width: calc(100% - 8px); }
  .main-block.road .main-title {
    margin-bottom: 39px; }
  .main-block.road .road-map {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .main-block.road .road-map .road-conteiner {
      display: flex; }
    .main-block.road .road-map .road-one-block {
      width: 104px;
      text-align: center;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main-block.road .road-map .road-one-block .data {
        white-space: nowrap;
        font-size: 14px;
        margin-bottom: 16px; }
      .main-block.road .road-map .road-one-block .img {
        margin-bottom: 15px; }
      .main-block.road .road-map .road-one-block .desk {
        font-size: 14px;
        font-weight: 600; }
    .main-block.road .road-map .road-dot {
      display: flex;
      padding-bottom: 22px;
      margin-right: 7px;
      margin-left: 7px; }
    .main-block.road .road-map .road-arrow {
      display: flex;
      padding-bottom: 44px; }

.timer, .invite-timer {
  max-width: 413px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.timer-block {
  margin-bottom: 15px;
  width: 100%;
  overflow: hidden; }
  .timer-block > div {
    min-width: 0 !important; }
  .timer-block .main-title {
    margin-bottom: 27px; }

.timer-text {
  text-align: left;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 22px; }

.invite-timer-text {
  font-size: 17px;
  font-weight: 600;
  text-align: center; }

footer.main-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
  color: #fff; }
  @media (max-width: 670px) {
    footer.main-block {
      flex-direction: column;
      align-items: flex-start; }
      footer.main-block > div {
        margin-bottom: 10px; }
      footer.main-block > div:first-child {
        margin-bottom: 17px; } }
  footer.main-block .title-footer {
    font-size: 16px;
    font-weight: 600; }
  footer.main-block .contacts-footer div {
    margin-bottom: 3px; }
  footer.main-block .soc-footer {
    display: flex;
    margin-top: 5px; }
    footer.main-block .soc-footer a:hover {
      opacity: .7; }
    footer.main-block .soc-footer img {
      margin-right: 20px; }

@media (max-width: 510px) {
  footer {
    flex-direction: column;
    align-items: center; }
    footer > div {
      margin-bottom: 15px; } }
@media (max-width: 700px) {
  .big-coin {
    display: none; }

  header .btn-lk {
    position: initial;
    margin: auto;
    margin-top: 10px; }

  .main-header {
    margin-right: 0 !important;
    text-align: center; }
    .main-header .text {
      margin-bottom: 10px; } }
@media (max-width: 600px) {
  nav.main-block .logo {
    display: none; } }
@media (max-width: 693px) {
  .timer {
    margin-bottom: 15px; } }
.main-link-lang {
  text-decoration: underline;
  color: #af834d; }

a:hover {
  text-decoration: underline; }

a:focus {
  text-decoration: underline;
  color: #af834d; }

.nav-block > a {
  margin-right: 35px; }

.nav-block > a:last-child {
  margin-right: 0; }

.link-lang img {
  margin-right: 5px !important; }

.nav-block a:last-child {
  margin-left: 5px; }

.nav-block a:nth-child(3) {
  margin-right: 5px; }

.notify {
  transition: opacity 1s, visibility 1s;
  opacity: .85;
  background-color: #1f282f;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 300px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px; }
  @media (max-width: 600px) {
    .notify {
      width: calc(100% - 20px);
      right: 0; } }
  .notify a {
    text-decoration: underline; }
  .notify a:hover {
    color: #af834d; }

.close-notify {
  position: absolute;
  top: 0;
  right: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer; }

.close-notify:hover {
  color: #af834d; }

.close-all {
  opacity: 0;
  visibility: hidden; }

.nova {
  display: block;
  margin-top: 3px; }

@media (max-width: 870px) {
  .timer, .invite-timer {
    max-width: none;
    text-align: center; }

  .timer-text {
    margin-bottom: 20px;
    max-width: 420px; }

  .invite-timer-text {
    max-width: 420px; } }
@media (max-width: 460px) {
  #timer-separator-18d63e1cab2d1bd7e6cf0bfec1a04c9b-hours, #timer-separator-18d63e1cab2d1bd7e6cf0bfec1a04c9b-minutes, #timer-separator-18d63e1cab2d1bd7e6cf0bfec1a04c9b-secundes {
    padding: 0 3px !important; }

  .timer-block {
    margin-bottom: 0; }
    .timer-block span {
      font-size: 25px !important; }
    .timer-block #timer-text-18d63e1cab2d1bd7e6cf0bfec1a04c9b-days, .timer-block #timer-text-18d63e1cab2d1bd7e6cf0bfec1a04c9b-hours, .timer-block #timer-text-18d63e1cab2d1bd7e6cf0bfec1a04c9b-minutes, .timer-block #timer-text-18d63e1cab2d1bd7e6cf0bfec1a04c9b-secundes {
      font-size: 11px !important; } }
@media (max-width: 455px) {
  nav.main-block {
    flex-wrap: wrap; }

  .nav-block {
    width: 100%;
    text-align: center;
    justify-content: center; }

  .nav-block:first-child {
    margin-bottom: 10px; }

  .logo {
    display: block !important; } }
@media (max-width: 850px) {
  header .btn-lk {
    position: initial;
    margin: auto;
    margin-top: 20px; } }
.re {
  position: relative;
  top: -2px; }

.popup-bg {
  transition: opacity .7s, visibility .7s;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: calc(100vw - 16px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }
  .popup-bg .popup {
    max-width: calc(100vw - 30px);
    width: 300px;
    background-color: #192936;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    border: solid 1px #af834d;
    border-radius: 3px;
    position: relative; }
    .popup-bg .popup .close-cross {
      cursor: pointer;
      position: absolute;
      border: solid 2px #af834d;
      border-radius: 30px;
      display: flex;
      right: -14px;
      top: -14px;
      background-color: #192936; }
      .popup-bg .popup .close-cross span {
        font-size: 40px;
        line-height: 23px;
        position: relative;
        top: -1px; }
    .popup-bg .popup .close-cross:hover {
      opacity: .8; }
    .popup-bg .popup .title {
      padding: 0 20px;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px;
      color: #af834d; }
    .popup-bg .popup form#app-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .popup-bg .popup form#app-form input {
        margin-bottom: 30px;
        padding: 7px;
        border: solid 2px #af834d;
        border-radius: 3px;
        width: calc(100% - 14px);
        height: 20px; }
      .popup-bg .popup form#app-form button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #192936;
        border: solid 1px #af834d;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 600;
        height: 49.9px;
        color: white;
        outline: none !important; }
      .popup-bg .popup form#app-form button:hover {
        text-decoration: none !important;
        opacity: .8; }

.close-popup {
  opacity: 0;
  visibility: hidden; }

@media (max-width: 376px) {
  .one-person .photo {
    margin-bottom: 0px; }

  #team .one-person {
    margin-bottom: 30px; } }
#timer-number-value-18d63e1cab2d1bd7e6cf0bfec1a04c9b-days, #timer-number-value-18d63e1cab2d1bd7e6cf0bfec1a04c9b-hours, #timer-number-value-18d63e1cab2d1bd7e6cf0bfec1a04c9b-minutes, #timer-number-value-18d63e1cab2d1bd7e6cf0bfec1a04c9b-secundes {
  color: #af834d; }

#timer-number-18d63e1cab2d1bd7e6cf0bfec1a04c9b-days, #timer-number-18d63e1cab2d1bd7e6cf0bfec1a04c9b-hours, #timer-number-18d63e1cab2d1bd7e6cf0bfec1a04c9b-minutes, #timer-number-18d63e1cab2d1bd7e6cf0bfec1a04c9b-secundes {
  margin-bottom: 10px !important; }

#timer18d63e1cab2d1bd7e6cf0bfec1a04c9b {
  font-weight: 600;
  height: 80px !important; }

#timer-text-18d63e1cab2d1bd7e6cf0bfec1a04c9b-days, #timer-text-18d63e1cab2d1bd7e6cf0bfec1a04c9b-hours, #timer-text-18d63e1cab2d1bd7e6cf0bfec1a04c9b-minutes, #timer-text-18d63e1cab2d1bd7e6cf0bfec1a04c9b-secundes {
  text-transform: uppercase; }

.timer-separator {
  color: #af834d !important;
  font-weight: 600;
  margin: 0 5px !important; }

.btn-lk {
  width: 180px;
  height: 60px;
  border-radius: 3px;
  background-color: #d53649;
  border: none;
  font-size: 22px;
  font-weight: 600;
  bottom: 0; }

.timer-block {
  background: none !important;
  padding: 0 !important;
  justify-content: space-between !important;
  border: none !important; }
  .timer-block .timer {
    margin-right: 20px;
    background-color: #1f282f;
    border: solid 3px #af834d;
    border-radius: 3px;
    max-width: 386px;
    padding: 18px 37px 25px 37px;
    justify-content: space-between; }
    .timer-block .timer .main-title {
      display: flex;
      justify-content: center; }
      .timer-block .timer .main-title img {
        margin-right: 8px; }
  .timer-block .invite-timer {
    max-width: 386px;
    padding: 18px 37px 25px 37px;
    background-color: #1f282f;
    border: solid 3px #af834d;
    justify-content: space-between;
    border-radius: 3px; }
    .timer-block .invite-timer img {
      margin: 50px 0; }

.main-block.timer-block {
  flex-wrap: nowrap !important; }

header.main-block {
  flex-wrap: nowrap !important; }

.main-block.video {
  padding: 0px;
  width: calc(100% - 8px); }
  .main-block.video .videoWrapper {
    width: 940px;
    height: 534px; }
  .main-block.video .videoWrapper iframe {
    width: 100%;
    height: 100%; }

.publ-life {
  width: calc(100% - 8px);
  padding-bottom: 9px; }
  .publ-life .main-title {
    margin-bottom: 24px; }
  .publ-life .one-life {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15px; }
    .publ-life .one-life .top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px; }
      .publ-life .one-life .top .date {
        font-size: 15px;
        color: #b8b8b8; }
    .publ-life .one-life .prev {
      width: 280px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      background-color: #171e23;
      margin-bottom: 10px; }
      .publ-life .one-life .prev a {
        font-size: 17px;
        font-weight: 600;
        color: #af834d; }
    .publ-life .one-life .desk {
      font-size: 17px;
      font-weight: 600;
      color: #b8b8b8; }

@media (max-width: 925px) {
  .main-block.timer-block {
    flex-wrap: wrap !important;
    justify-content: center !important; }
    .main-block.timer-block .timer {
      margin-bottom: 20px;
      margin-right: 0; } }
@media (max-width: 500px) {
  .main-block.video .videoWrapper {
    height: 300px; } }
a.btn-lk:focus {
  color: white;
  text-decoration: none !important;
  opacity: .8; }

.main-block.road {
  padding-bottom: 0px !important; }

.main-block.road .road-map .road-conteiner {
  margin-bottom: 24px !important; }

@media (max-width: 502px) {
  .main-block.road .road-map .road-one-block .data, .main-block.road .road-map .road-one-block .img {
    margin-bottom: 5px; } }
.input-overlay {
  width: 100%;
  min-width: 260px;
  position: relative; }
  .input-overlay .wrong-input {
    display: none;
    color: crimson;
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    text-align: center; }

.input-overlay.wrong input {
  border: 2px solid crimson !important; }
.input-overlay.wrong .wrong-input {
  display: block; }

/*# sourceMappingURL=index.css.map */
